<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate Detail</title>
    <style>
        body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        text-align: center;
        margin: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh; /* 뷰포트 높이를 활용하여 화면 전체를 커버하도록 설정 */
        }

        h1 {
            color: #333;
        }

        div {
            margin-bottom: 20px;
        }

    </style>
</head>
<body>
    <h1>{{ certificate.name }}</h1>
    <div>
        {{ certificate.organization }}
    </div>
</body>
</html>
